/* Footer.css */

.footer {
    height: 209px;
    background-color: #000000;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content {
    width: 513px;
    height: 46px;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .content {
        font-size: 12px;
        line-height: 17px;
        width: 133px;
    }

    .mobile-text {
        display: block;
    }
}