
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  body, html {
    margin: 0;
    padding: 0;
  }
  
  * {
    box-sizing: border-box;
  }

  .layout {
    display: flex;
    margin: 0 auto;
    max-width: 1440px;
    flex-direction: column;
    padding: 0 100px;
  }

  /* Media query for mobile screens */
@media screen and (max-width: 960px) {
    .layout {
     padding: 0 20px;
    }
  }