/* LogementsMenu.css */

.logements-menu {
    margin-top: 43px;
    background-color: #F6F6F6;
    border-radius: 25px;
    height: 100%;
  }
  
  .grid-container {
    display: grid;
    row-gap: 50px;
    /* Adjust the gap between grid items as needed */
    column-gap: 50px;
    padding: 56px 3.47% 43px 3.47%;
    /* Adjust padding as needed */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-items: center;
    /* Center grid items horizontally */
    align-items: center;
    /* Center grid items vertically */
  }
  
  
  /* Media query for screens below 1420px */
  @media screen and (max-width: 1420px) {
    .grid-container {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      /* Switch to 2 cards per row */
    }
  }
  
  /* Media query for mobile screens */
  @media screen and (max-width: 960px) {
    .grid-container {
      grid-template-columns: minmax(0, 1fr);
      column-gap: 20px;
      row-gap: 20px;
      padding: 20px 0 22px 0;
    }
    .logements-menu {
      margin-top: 0;
      background-color: #FFF;
    }
  }
  
  
  .logements-menu h2 {
    text-align: center;
  }